@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .landing-container {
    &__splash-image {
      height: 50vh;
      object-fit: cover;
    }
    &__content {
      padding: 0 $MEDIUM $MEDIUM;
      &-title {
        @include font-type($MAIN_FONT, $LARGE, bold);

        margin: $LARGE 0;
      }
      p {
        margin: $SMALL 0 $MEDIUM;
      }
      &-sec-title {
        @include font-type($MAIN_FONT, $MIDLARGE, bold);

        margin-bottom: $MIDLARGE;
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .landing-container {
    &__splash-image {
      height: 65vh;
    }
    &__second-image {
      height: 75vh;
      object-fit: cover;
    }
    &__content {
      padding: 0 15% $MIDLARGE;
      &-title {
        margin: $LARGE 0;
      }
      p {
        margin: $SMALL 0 $MEDIUM;
      }
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
